@charset "UTF-8";
* {
  font-family: "微軟正黑體";
}

body {
  margin: 0;
}

h1 {
  font-size: 50px;
  font-weight: 300;
}

h2 {
  font-size: 30px;
  font-weight: 340;
  margin: 0;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5em;
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  h4 {
    font-size: 1em;
  }
}

a {
  color: white;
  margin: 0;
}

a:hover {
  color: #aa4c4c;
}

.container-fluid {
  width: 100%;
  padding: 0;
}

.container-fluid nav {
  opacity: 0.8;
  background-color: #021b06;
  width: 100%;
  position: absolute;
  z-index: 2000;
}

.container-fluid nav .navbar-brand {
  padding: 12px;
  margin-left: 3rem;
}

@media screen and (max-width: 991px) {
  .container-fluid nav .navbar-brand {
    margin-left: 0px;
    padding: 0px;
  }
}

@media screen and (max-width: 420px) {
  .container-fluid nav .navbar-brand img {
    height: 45px;
  }
}

.container-fluid nav .navbar-brand .logoText {
  margin: 10px;
}

@media screen and (max-width: 420px) {
  .container-fluid nav .navbar-brand .logoText img {
    height: 20px;
  }
}

.container-fluid nav .navList .navbar-nav {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1300px) {
  .container-fluid nav .navList .navbar-nav {
    max-width: 25rem;
  }
}

.container-fluid nav .navList .navbar-nav .nav-item {
  font-size: 15px;
}

@media screen and (max-width: 991px) {
  .container-fluid nav .navList .navbar-nav {
    height: 90vh;
  }
  .container-fluid nav .navList .navbar-nav .nav-item {
    font-size: 22px;
  }
  .container-fluid nav .navList .navbar-nav .accordion .plus {
    position: relative;
  }
  .container-fluid nav .navList .navbar-nav .accordion .plus:before {
    background: white;
    content: "";
    height: 2px;
    margin-right: 37px;
    position: absolute;
    right: 20%;
    top: 50%;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 14px;
  }
  .container-fluid nav .navList .navbar-nav .accordion .plus:after {
    background: #fffefe;
    content: "";
    height: 2px;
    margin-right: 37px;
    position: absolute;
    right: 20%;
    top: 50%;
    width: 14px;
  }
  .container-fluid nav .navList .navbar-nav .accordion .plus.active:before {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .container-fluid nav .navList .navbar-nav .accordion .collapseNav {
    text-decoration: none;
  }
}

.bannerContainer {
  width: 100%;
  height: 100vh;
  background-image: url(./img/古蹟修復pro.png);
  background-size: cover;
  background-position: center;
}

.bannerContainer .banner {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.45);
  position: relative;
}

.bannerContainer .banner .textRightTop {
  display: none;
}

.bannerContainer .banner .title {
  font-family: "Noto Serif TC", serif;
  font-size: 7rem;
  position: absolute;
  top: 40%;
  left: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 1024px) {
  .bannerContainer .banner .title {
    font-size: 5rem;
  }
}

.bannerContainer .banner .textBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 10%;
  margin-top: 5rem;
}

.bannerContainer .banner .textBox .textLeft {
  text-align: center;
  letter-spacing: 10px;
  line-height: 5rem;
}

.bannerContainer .banner .textBox .textRight {
  font-size: 1.3rem;
  width: 40%;
  line-height: 3rem;
}

.bannerContainer .banner .arrow {
  position: absolute;
  top: 85%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  font-weight: 100;
  font-size: 6rem;
}

.section1 {
  width: 100%;
  height: 15rem;
  background-color: white;
  border-bottom: black solid 1px;
}

.section1 .donation {
  position: relative;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  width: 200px;
  height: 200px;
  margin: auto;
}

.section1 .donation img {
  max-width: 50%;
  z-index: 998;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
}

.section1 .donation::after {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  z-index: 1;
  position: absolute;
  right: 50%;
}

.section2 .container-fluid {
  width: 100%;
  height: auto;
  background-image: url(./img/紙質質感.jpg);
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .section2 .container-fluid {
    padding: 0;
  }
}

.section2 .container-fluid .img {
  width: 20%;
  margin: 0 auto;
  padding-top: 350px;
  position: relative;
}

.section2 .container-fluid .img img {
  width: 100%;
}

.section2 .container-fluid .img::before {
  content: "";
  display: block;
  background-color: black;
  width: 1px;
  height: 150px;
  position: absolute;
  right: 50%;
  top: 50%;
}

.section2 .container-fluid .donatForm {
  width: 50%;
  margin: auto;
  margin-top: 6rem;
  padding: 50px;
  background-color: white;
  border: black solid 2px;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .section2 .container-fluid .donatForm {
    width: 90%;
    padding: 1.5rem;
  }
}

@media screen and (max-width: 420px) {
  .section2 .container-fluid .donatForm {
    padding-bottom: 7rem;
  }
}

.section2 .container-fluid .donatForm form .title {
  text-align: center;
  font-size: 28px;
  letter-spacing: 10px;
  margin-bottom: 3rem;
  position: relative;
}

@media screen and (max-width: 420px) {
  .section2 .container-fluid .donatForm form .title::after {
    content: "";
    width: 9rem;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 100%;
    right: 30%;
  }
}

.section2 .container-fluid .donatForm form .form-group {
  letter-spacing: 10px;
}

.section2 .container-fluid .donatForm form .form-group .radio-tile-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section2 .container-fluid .donatForm form .form-group .radio-tile-group .input-container {
  position: relative;
  margin: 0.5rem;
}

.section2 .container-fluid .donatForm form .form-group .radio-tile-group .input-container .radio-button {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
}

.section2 .container-fluid .donatForm form .form-group .radio-tile-group .input-container .radio-tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0.5rem;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.section2 .container-fluid .donatForm form .form-group .radio-tile-group .input-container .radio-tile-label {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0px;
  color: black;
}

.section2 .container-fluid .donatForm form .form-group .radio-tile-group .input-container .radio-button:checked + .radio-tile {
  background-color: black;
  border: 2px solid black;
  color: white;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.section2 .container-fluid .donatForm form .form-group .radio-tile-group .input-container .radio-button:checked + .radio-tile .radio-tile-label {
  color: white;
  background-color: black;
}

.section2 .container-fluid .donatForm form .form-group .radio-tile-group label {
  display: block;
  margin: 4px 0;
}

.section2 .container-fluid .donatForm form .form-group .radio-tile-group input[type="radio"] {
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -webkit-appearance: none;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 100%;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  position: relative;
  outline: none;
  width: 16px;
  vertical-align: text-bottom;
}

.section2 .container-fluid .donatForm form .form-group .radio-tile-group input[type="radio"]:after {
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 16px;
  left: -2px;
  position: absolute;
  pointer-events: none;
  top: -2px;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  overflow: hidden;
  width: 16px;
}

.section2 .container-fluid .donatForm form .form-group .radio-tile-group input[type="radio"]:checked:after {
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -webkit-transform: scale(0.5);
  background-color: #000;
  border-color: #000;
  transform: scale(0.5);
}

.section2 .container-fluid .donatForm form .form-group .custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.section2 .container-fluid .donatForm form .form-group .custom-dropdown select {
  background-color: #ffffff;
  color: black;
  font-size: inherit;
  padding: .4rem 6rem .4rem 1rem;
  border: black 1px solid;
  margin: 0;
  border-radius: 3px;
  -webkit-appearance: button;
  /* hide default arrow in chrome OSX */
}

.section2 .container-fluid .donatForm form .form-group .custom-dropdown::before,
.section2 .container-fluid .donatForm form .form-group .custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.section2 .container-fluid .donatForm form .form-group .custom-dropdown::after {
  /*  Custom dropdown arrow */
  content: "\25BC";
  font-size: .625em;
  line-height: 1;
  right: .1rem;
  top: 50%;
  margin-top: -.5em;
}

.section2 .container-fluid .donatForm form .form-group .custom-dropdown::before {
  /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.section2 .container-fluid .donatForm form .form-group .custom-dropdown::before {
  background-color: rgba(0, 0, 0, 0.616);
}

.section2 .container-fluid .donatForm img {
  position: absolute;
  width: 12%;
  right: 10%;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .section2 .container-fluid .donatForm img {
    width: 15%;
    right: 15%;
  }
}

@media screen and (max-width: 420px) {
  .section2 .container-fluid .donatForm img {
    width: 25%;
    -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.7));
            filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.7));
    right: 38%;
  }
}

.section2 .container-fluid .textEnd {
  width: 25%;
  margin: auto;
  padding: 6rem 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  letter-spacing: 10px;
}

@media screen and (max-width: 768px) {
  .section2 .container-fluid .textEnd {
    width: 70%;
  }
}

@media screen and (max-width: 375px) {
  .section2 .container-fluid .textEnd {
    width: 90%;
  }
  .section2 .container-fluid .textEnd h4 {
    position: relative;
  }
  .section2 .container-fluid .textEnd h4::after {
    content: "";
    width: 40px;
    height: 2px;
    background-color: red;
    position: absolute;
    top: 100%;
    right: 35%;
  }
}

.section3 {
  background-color: #242424;
}

@media screen and (max-width: 1000px) {
  .bannerContainer .banner {
    position: relative;
  }
  .bannerContainer .banner .textLeft {
    display: none;
  }
  .bannerContainer .banner .top {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
    position: absolute;
    left: 12%;
    top: 30%;
  }
  .bannerContainer .banner .top .textRightTop {
    display: block;
    text-align: center;
    letter-spacing: 10px;
    line-height: 5rem;
    font-size: 1.5rem;
  }
  .bannerContainer .banner .textBox .textRight {
    letter-spacing: 5px;
    width: 80%;
    line-height: 2rem;
  }
  .bannerContainer .banner .textBox .textRight::before {
    content: "";
    width: 80%;
    height: 1px;
    background-color: white;
    position: absolute;
    top: -30%;
  }
}

@media screen and (max-width: 745px) {
  .bannerContainer .banner .top {
    width: 85%;
    left: 2%;
  }
  .bannerContainer .banner .top .title {
    font-size: 2rem;
  }
  .bannerContainer .banner .top .textRightTop {
    line-height: 3rem;
    font-size: .5rem;
  }
  .bannerContainer .banner .textBox {
    margin-top: 30px;
  }
  .bannerContainer .banner .textBox .textRight {
    width: 100%;
    line-height: 1.2rem;
    font-size: .5rem;
  }
  .bannerContainer .banner .textBox .textRight::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    top: -15%;
  }
}
/*# sourceMappingURL=page4.css.map */