@charset "UTF-8";
* {
  font-family: "微軟正黑體";
}

body {
  margin: 0;
}

h1 {
  font-size: 50px;
  font-weight: 300;
}

h2 {
  font-size: 30px;
  font-weight: 340;
  margin: 0;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5em;
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  h4 {
    font-size: 1em;
  }
}

a {
  color: white;
  margin: 0;
}

a:hover {
  color: #aa4c4c;
}

.container-fluid {
  width: 100%;
  padding: 0;
}

.container-fluid nav {
  opacity: 0.8;
  background-color: #021b06;
  width: 100%;
  position: absolute;
  z-index: 2000;
}

.container-fluid nav .navbar-brand {
  padding: 12px;
  margin-left: 3rem;
}

@media screen and (max-width: 991px) {
  .container-fluid nav .navbar-brand {
    margin-left: 0px;
    padding: 0px;
  }
}

@media screen and (max-width: 420px) {
  .container-fluid nav .navbar-brand img {
    height: 45px;
  }
}

.container-fluid nav .navbar-brand .logoText {
  margin: 10px;
}

@media screen and (max-width: 420px) {
  .container-fluid nav .navbar-brand .logoText img {
    height: 20px;
  }
}

.container-fluid nav .navList .navbar-nav {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1300px) {
  .container-fluid nav .navList .navbar-nav {
    max-width: 25rem;
  }
}

.container-fluid nav .navList .navbar-nav .nav-item {
  font-size: 15px;
}

@media screen and (max-width: 991px) {
  .container-fluid nav .navList .navbar-nav {
    height: 90vh;
  }
  .container-fluid nav .navList .navbar-nav .nav-item {
    font-size: 22px;
  }
  .container-fluid nav .navList .navbar-nav .accordion .plus {
    position: relative;
  }
  .container-fluid nav .navList .navbar-nav .accordion .plus:before {
    background: white;
    content: "";
    height: 2px;
    margin-right: 37px;
    position: absolute;
    right: 20%;
    top: 50%;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 14px;
  }
  .container-fluid nav .navList .navbar-nav .accordion .plus:after {
    background: #fffefe;
    content: "";
    height: 2px;
    margin-right: 37px;
    position: absolute;
    right: 20%;
    top: 50%;
    width: 14px;
  }
  .container-fluid nav .navList .navbar-nav .accordion .plus.active:before {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .container-fluid nav .navList .navbar-nav .accordion .collapseNav {
    text-decoration: none;
  }
}

.bannerContainer {
  width: 100%;
  height: 100vh;
  background-image: url(./img/XlgcYnepmBFxYIldYcldNeYyz.jpg);
  background-size: cover;
  background-position: center;
}

.bannerContainer .banner {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.63);
  position: relative;
}

.bannerContainer .banner .textRightTop {
  display: none;
}

.bannerContainer .banner .title {
  font-family: "Noto Serif TC", serif;
  font-size: 7rem;
  position: absolute;
  top: 40%;
  left: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 1024px) {
  .bannerContainer .banner .title {
    font-size: 5rem;
  }
}

.bannerContainer .banner .textBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  position: absolute;
  top: 55%;
  left: 10%;
  margin-top: 5rem;
}

.bannerContainer .banner .textBox .textLeft {
  text-align: center;
  letter-spacing: 15px;
  line-height: 5rem;
}

.bannerContainer .banner .textBox .textRight {
  font-size: 1.3rem;
  width: 40%;
  line-height: 3rem;
  position: relative;
}

.bannerContainer .banner .textBox .textRight::before {
  content: "";
  width: 1px;
  height: 100px;
  background-color: white;
  position: absolute;
  right: 120%;
  top: 28%;
}

.bannerContainer .banner .arrow {
  position: absolute;
  top: 85%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  cursor: pointer;
  position: relative;
}

@media screen and (max-width: 779px) {
  .bannerContainer .banner .arrow {
    position: absolute;
    top: 88%;
  }
}

@media screen and (max-width: 519px) {
  .bannerContainer .banner .arrow {
    position: absolute;
    top: 92%;
  }
}

.bannerContainer .banner .arrow::before {
  content: "";
  height: 3px;
  width: 0rem;
  background-color: #d45800;
  position: absolute;
  top: 18%;
  left: 46.5%;
  -webkit-transition: 1s;
  transition: 1s;
}

.bannerContainer .banner .arrow:hover::before {
  content: "";
  height: 3px;
  width: 3.5rem;
  background-color: #d45800;
  position: absolute;
  top: 18%;
  left: 46.5%;
}

.bannerContainer .banner .arrow p {
  font-size: 1.3rem;
  margin: 0;
  letter-spacing: 15px;
}

.bannerContainer .banner .arrow .arrowButton {
  font-weight: 100;
  font-size: 6rem;
}

@media screen and (max-width: 519px) {
  .bannerContainer .banner .arrow .arrowButton {
    font-size: 2rem;
  }
}

.section1 {
  width: 100%;
  height: 13rem;
  background-color: white;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .section1 {
    height: 0rem;
  }
}

.section1 .modal-lg {
  margin-top: 160px;
}

.section1 .modal-lg .formBox {
  z-index: 80;
  background-color: white;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-radius: 2px;
  -webkit-box-shadow: 0 0 1em #363636;
          box-shadow: 0 0 1em #363636;
}

@media screen and (max-width: 768px) {
  .section1 .modal-lg .formBox {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

.section1 .modal-lg .formBox .textBox {
  width: 100%;
  padding: 3rem;
}

.section1 .modal-lg .formBox .textBox .title {
  font-size: 1.5rem;
  letter-spacing: 10px;
  position: relative;
}

@media screen and (max-width: 991px) {
  .section1 .modal-lg .formBox .textBox .title {
    margin-bottom: 1.5rem;
  }
}

.section1 .modal-lg .formBox .textBox hr {
  background-color: black;
}

.section1 .modal-lg .formBox .textBox .row .custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.section1 .modal-lg .formBox .textBox .row .custom-dropdown select {
  background-color: #ffffff;
  color: black;
  font-size: inherit;
  padding: .4rem 17rem .4rem .5rem;
  border: black 1px solid;
  margin: 0;
  border-radius: 3px;
  -webkit-appearance: button;
  /* hide default arrow in chrome OSX */
}

@media screen and (max-width: 991px) {
  .section1 .modal-lg .formBox .textBox .row .custom-dropdown select {
    padding-right: 8rem;
  }
}

.section1 .modal-lg .formBox .textBox .row .custom-dropdown::before,
.section1 .modal-lg .formBox .textBox .row .custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.section1 .modal-lg .formBox .textBox .row .custom-dropdown::after {
  /*  Custom dropdown arrow */
  content: "\25BC";
  font-size: .625em;
  line-height: 1;
  right: .5rem;
  top: 50%;
  margin-top: -.5em;
}

.section1 .modal-lg .formBox .textBox .row .custom-dropdown::before {
  /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.section1 .modal-lg .formBox .textBox .row .custom-dropdown::before {
  background-color: rgba(0, 0, 0, 0.616);
}

.section1 .modal-lg .formBox .textBox .row .uploadImg {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1023px) {
  .section1 .modal-lg .formBox .textBox .row .uploadImg {
    display: none;
  }
}

.section1 .modal-lg .formBox .textBox .row .rating {
  font-size: 0;
  display: table;
}

.section1 .modal-lg .formBox .textBox .row .rating > label {
  color: #ddd;
  float: right;
}

@media screen and (max-width: 768px) {
  .section1 .modal-lg .formBox .textBox .row .rating > label {
    color: #aaaaaa;
  }
}

.section1 .modal-lg .formBox .textBox .row .rating > label:before {
  padding: 0 5px;
  font-size: 30px;
  content: "★";
}

.section1 .modal-lg .formBox .textBox .row .rating > input:checked ~ label,
.section1 .modal-lg .formBox .textBox .row .rating:not(:checked) > label:hover,
.section1 .modal-lg .formBox .textBox .row .rating:not(:checked) > label:hover ~ label {
  color: #000000;
}

.section1 .modal-lg .formBox .textBox .btnEnd {
  width: 5rem;
  margin-left: auto;
  display: block;
}

@media screen and (max-width: 1023px) {
  .section1 .modal-lg .formBox .textBox .btnEnd {
    display: none;
  }
}

.section1 .modal-lg .formBox .textBox .btn_group {
  display: none;
}

@media screen and (max-width: 1023px) {
  .section1 .modal-lg .formBox .textBox .btn_group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .section1 .modal-lg .formBox .textBox .btn_group a {
    margin-left: 0.5rem;
  }
}

.section2 .container-fluid {
  width: 100%;
  height: auto;
  background-image: url(./img/紙質質感.jpg);
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  .section2 .container-fluid {
    padding: 0px;
  }
}

.section2 .container-fluid .textBox {
  -webkit-transform: translate(0, -5%);
          transform: translate(0, -5%);
  z-index: 99;
  max-width: 60%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section2 .container-fluid .textBox .textHidden {
  display: none;
}

@media screen and (max-width: 1300px) {
  .section2 .container-fluid .textBox {
    min-width: 100%;
    -webkit-transform: translate(0, 1%);
            transform: translate(0, 1%);
  }
}

@media screen and (max-width: 768px) {
  .section2 .container-fluid .textBox {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .section2 .container-fluid .textBox .textHidden {
    width: 100%;
    height: auto;
    display: block;
  }
  .section2 .container-fluid .textBox .textHidden .button {
    width: 100%;
    height: 40px;
    background-color: #16270a;
    color: white;
    text-align: center;
    font-size: 2.5rem;
    cursor: pointer;
  }
  .section2 .container-fluid .textBox .textHidden p {
    margin: 30px;
    text-align: justify;
  }
}

.section2 .container-fluid .textBox .backImg {
  width: 30%;
  background-image: url(./img/台北市艋舺龍山寺.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 1.5rem;
  cursor: pointer;
  position: relative;
}

@media screen and (max-width: 768px) {
  .section2 .container-fluid .textBox .backImg {
    width: 100%;
    margin-bottom: 0rem;
  }
}

.section2 .container-fluid .textBox .backImg .mask {
  background-color: rgba(14, 14, 14, 0);
  padding: 20px;
  -webkit-transition: 1s;
  transition: 1s;
}

.section2 .container-fluid .textBox .backImg .mask:hover {
  background-color: rgba(14, 14, 14, 0.61);
}

@media screen and (max-width: 768px) {
  .section2 .container-fluid .textBox .backImg .mask {
    padding: 0;
  }
}

.section2 .container-fluid .textBox .backImg .mask .text {
  color: white;
  opacity: 0;
  padding: 20px;
  border: #fdfdfd solid 1px;
  -webkit-transition: 1s;
  transition: 1s;
}

@media screen and (max-width: 768px) {
  .section2 .container-fluid .textBox .backImg .mask .text {
    border: rgba(253, 253, 253, 0) solid 1px;
    color: rgba(255, 255, 255, 0);
  }
}

.section2 .container-fluid .textBox .backImg .mask .text hr {
  background-color: white;
  width: 30%;
  height: 2px;
}

@media screen and (max-width: 768px) {
  .section2 .container-fluid .textBox .backImg .mask .text hr {
    background-color: rgba(255, 255, 255, 0);
  }
}

.section2 .container-fluid .textBox .backImg .mask .text .ellipsis {
  text-align: justify;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.section2 .container-fluid .textBox .backImg .mask .text:hover {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .section2 .container-fluid .textBox .backImg::before {
    content: "萬 華 艋 舺 龍 山 寺";
    width: 100%;
    height: 45%;
    background-color: rgba(0, 0, 0, 0.74);
    position: absolute;
    bottom: 0;
    color: white;
    padding: 2rem;
    font-size: 2rem;
    font-family: "Noto Serif TC", serif;
  }
  .section2 .container-fluid .textBox .backImg::after {
    content: "求 姻 緣 ★ ★ ★ ☆ ☆";
    width: 100%;
    height: 45%;
    position: absolute;
    bottom: 0%;
    color: white;
    padding-top: 5rem;
    padding-left: 2rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 420px) {
  .section2 .container-fluid .textBox .backImg::before {
    font-size: 1.2rem;
  }
  .section2 .container-fluid .textBox .backImg::after {
    font-size: 1rem;
  }
}

.section2 .container-fluid .pagination {
  position: relative;
  padding-bottom: 5rem;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.section2 .container-fluid .pagination a {
  position: relative;
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 8px 16px 10px;
  text-decoration: none;
}

.section2 .container-fluid .pagination a::before {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
  background-color: black;
  border-radius: 24px;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.section2 .container-fluid .pagination a:hover,
.section2 .container-fluid .pagination a .pagination-active {
  color: #fff;
  z-index: 9;
}

.section2 .container-fluid .pagination a:hover::before,
.section2 .container-fluid .pagination a .pagination-active::before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.section2 .container-fluid .pagination .pagination-active {
  color: #fff;
  z-index: 9;
}

.section2 .container-fluid .pagination .pagination-active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.section2 #modal_experience {
  /* Hide a modal below a specific width */
}

@media (max-width: 768px) {
  .section2 #modal_experience .modal-backdrop {
    display: none !important;
  }
  .section2 #modal_experience #myModalDiv {
    display: none !important;
  }
  .section2 #modal_experience .modal-dialog {
    display: none !important;
  }
}

.section2 #modal_experience .formBox {
  z-index: 1300;
  background-color: white;
  width: 100%;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 1em #363636;
          box-shadow: 0 0 1em #363636;
}

.section2 #modal_experience .formBox .form {
  width: 100%;
  padding: 3rem;
}

.section2 #modal_experience .formBox .form .title {
  font-size: 1.5rem;
  letter-spacing: 10px;
}

.section2 #modal_experience .formBox .form hr {
  background-color: black;
}

.section2 #modal_experience .formBox .form img {
  width: inherit;
  padding-bottom: 1rem;
}

.section2 #modal_experience .formBox .form p {
  text-align: center;
}

.section2 #modal_experience .formBox .form .star-rating {
  unicode-bidi: bidi-override;
  color: #ddd;
  font-size: 0;
  margin: 0 auto;
  position: relative;
  display: table;
  padding-bottom: 1rem;
  text-shadow: 0px 1px 0 #a2a2a2;
}

.section2 #modal_experience .formBox .form .star-rating span {
  padding: 5px;
  font-size: 20px;
}

.section2 #modal_experience .formBox .form .star-rating-top {
  color: #000032;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
}

.section2 #modal_experience .formBox .form .star-rating-bottom {
  padding: 0;
  display: block;
  z-index: 0;
}

.section3 {
  background-color: #242424;
}

@media screen and (max-width: 1000px) {
  .bannerContainer .banner {
    position: relative;
  }
  .bannerContainer .banner .textLeft {
    display: none;
  }
  .bannerContainer .banner .top {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
    position: absolute;
    left: 12%;
    top: 30%;
  }
  .bannerContainer .banner .top .textRightTop {
    display: block;
    text-align: center;
    letter-spacing: 10px;
    line-height: 5rem;
    font-size: 1.5rem;
  }
  .bannerContainer .banner .textBox .textRight {
    letter-spacing: 5px;
    width: 80%;
    line-height: 2rem;
  }
  .bannerContainer .banner .textBox .textRight::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    top: -100%;
    left: 0%;
  }
}

@media screen and (max-width: 745px) {
  .bannerContainer .banner .top {
    width: 80%;
    left: 5%;
    top: 40%;
  }
  .bannerContainer .banner .top .title {
    font-size: 2.5rem;
  }
  .bannerContainer .banner .top .textRightTop {
    line-height: 3rem;
    font-size: .5rem;
  }
  .bannerContainer .banner .textBox {
    margin-top: 20px;
  }
  .bannerContainer .banner .textBox .textRight {
    width: 100%;
    line-height: 1.2rem;
    font-size: .5rem;
  }
  .bannerContainer .banner .textBox .textRight::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    top: -40%;
  }
}
/*# sourceMappingURL=page5.css.map */