$custom-gutter-width: 70px;

* {
  font-family: "微軟正黑體";
}

body {
  margin: 0;
}

h1 {
  font-size: 50px;
  font-weight: 300;
}

h2 {
  font-size: 30px;
  font-weight: 340;
  margin: 0;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5em;
  font-weight: 500;

  @media screen and (max-width: 1024px) {
    font-size: 1em;
  }
}

// p {
//   font-size: 1em;
//   line-height: 35px;
//   text-align: justify;
//   font-weight: 500;
// }

a {
  color: white;
  margin: 0;
}
a:hover {
  color: rgb(170, 76, 76);
}

// navbar
.container-fluid {
  width: 100%;
  padding: 0;

  nav {
    opacity: 0.8;
    background-color: rgb(2, 27, 6);
    width: 100%;
    position: absolute;
    z-index: 2000;

    .navbar-brand {
      padding: 12px;
      margin-left: 3rem;

      @media screen and (max-width: 991px) {
        margin-left: 0px;
        padding: 0px;
      }

      @media screen and (max-width: 420px) {
        img {
          height: 45px;
        }
      }

      .logoText {
        margin: 10px;

        @media screen and (max-width: 420px) {
          img {
            height: 20px;
          }
        }
      }
    }

    .navList {
      .navbar-nav {
        width: 65%;
        display: flex;
        justify-content: space-around;

        @media screen and (max-width: 1300px) {
          max-width: 25rem;
        }

        .nav-item {
          font-size: 15px;
        }

        @media screen and (max-width: 991px) {
          height: 90vh;
          
          .nav-item {
            font-size: 22px;
          }

          .accordion {
            .plus {
              position: relative;
            }

            .plus:before {
              background: white;
              content: "";
              height: 2px;
              margin-right: 37px;
              position: absolute;
              right: 20%;
              top: 50%;
              -webkit-transform: rotate(90deg);
              -moz-transform: rotate(90deg);
              -ms-transform: rotate(90deg);
              -o-transform: rotate(90deg);
              transform: rotate(90deg);
              -webkit-transition: all 0.2s ease-in-out;
              -moz-transition: all 0.2s ease-in-out;
              -ms-transition: all 0.2s ease-in-out;
              -o-transition: all 0.2s ease-in-out;
              transition: all 0.2s ease-in-out;
              width: 14px;
            }

            .plus:after {
              background: rgb(255, 254, 254);
              content: "";
              height: 2px;
              margin-right: 37px;
              position: absolute;
              right: 20%;
              top: 50%;
              width: 14px;
            }

            .plus.active:before {
              -webkit-transform: rotate(0deg);
              -moz-transform: rotate(0deg);
              -ms-transform: rotate(0deg);
              -o-transform: rotate(0deg);
              transform: rotate(0deg);
            }

            .collapseNav {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

// banner
.bannerContainer {
  width: 100%;
  height: 100vh;
  background-image: url(./img/XlgcYnepmBFxYIldYcldNeYyz.jpg);
  background-size: cover;
  background-position: center;

  .banner {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.63);
    position: relative;

    .textRightTop {
      display: none;
    }

    .title {
      font-family: "Noto Serif TC", serif;
      font-size: 7rem;
      position: absolute;
      top: 40%;
      left: 35%;
      transform: translate(-50%, -50%);

      @media screen and (max-width: 1024px) {
        font-size: 5rem;
      }

    }

    .textBox {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 80%;
      position: absolute;
      top: 55%;
      left: 10%;
      margin-top: 5rem;

      .textLeft {
        // margin-right: 14rem;
        text-align: center;
        letter-spacing: 15px;
        line-height: 5rem;
      }

      .textRight {
        font-size: 1.3rem;
        width: 40%;
        line-height: 3rem;
        position: relative;

        &::before {
          content: "";
          width: 1px;
          height: 100px;
          background-color: white;
          position: absolute;
          right: 120%;
          top: 28%;
        }
      }
    }

    .arrow {
      position: absolute;
      top: 85%;
      left: 50%;
      transform: translate(-50%, 0%);
      cursor: pointer;
      position: relative;

      @media screen and (max-width: 779px) {
        position: absolute;
        top: 88%;
      }

      @media screen and (max-width: 519px) {
        position: absolute;
        top: 92%;
      }

      &::before {
        content: "";
        height: 3px;
        width: 0rem;
        background-color: rgb(212, 88, 0);
        position: absolute;
        top: 18%;
        left: 46.5%;
        transition: 1s;
      }

      &:hover::before {
        content: "";
        height: 3px;
        width: 3.5rem;
        background-color: rgb(212, 88, 0);
        position: absolute;
        top: 18%;
        left: 46.5%;
      }

      p {
        font-size: 1.3rem;
        margin: 0;
        letter-spacing: 15px;
      }

      .arrowButton {
        font-weight: 100;
        font-size: 6rem;

        @media screen and (max-width: 519px) {
          font-size: 2rem;
        }
      }
    }
  }
}

.section1 {
  // 過渡背景色
  width: 100%;
  height: 13rem;
  background-color: white;
  position: relative;

  @media screen and (max-width: 1024px) {
    height: 0rem;
  }

  // 留言視窗
  .modal-lg {
    margin-top: 160px;

    .formBox {
      z-index: 80;
      background-color: white;
      width: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, 0);
      border-radius: 2px;
      box-shadow: 0 0 1em rgb(54, 54, 54);

      @media screen and (max-width: 768px) {
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.8);
      }

      .textBox {
        width: 100%;
        padding: 3rem;

        .title {
          font-size: 1.5rem;
          letter-spacing: 10px;
          position: relative;

          @media screen and (max-width: 991px) {
            margin-bottom: 1.5rem;

            // &::after{
            //   content: "";
            //   width: 8.5rem;
            //   height: 1px;
            //   background-color: black;
            //   position: absolute;
            //   top: 100%;
            //   left: 30%;
            // }
          }
        }

        hr {
          background-color: black;
        }

        .row {
          .custom-dropdown {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            // margin: 10px 10px;
          }

          .custom-dropdown select {
            background-color: #ffffff;
            color: black;
            font-size: inherit;
            padding: .4rem 17rem .4rem .5rem;
            border: black 1px solid;
            margin: 0;
            border-radius: 3px;
            // text-indent: 0.01px;
            // text-overflow: '';
            -webkit-appearance: button;
            /* hide default arrow in chrome OSX */

            @media screen and (max-width:991px){
              padding-right: 8rem;
            }
          }

          .custom-dropdown::before,
          .custom-dropdown::after {
            content: "";
            position: absolute;
            pointer-events: none;
          }

          .custom-dropdown::after {
            /*  Custom dropdown arrow */
            content: "\25BC";
            // height: 1em;
            font-size: .625em;
            line-height: 1;
            right: .5rem;
            top: 50%;
            margin-top: -.5em;
          }

          .custom-dropdown::before {
            /*  Custom dropdown arrow cover */
            width: 2em;
            right: 0;
            top: 0;
            bottom: 0;
            border-radius: 0 3px 3px 0;
          }

          .custom-dropdown::before {
            background-color: rgba(0, 0, 0, 0.616);
          }

          .uploadImg {
            justify-content: flex-end;
            display: flex;

            @media screen and (max-width: 1023px) {
              display: none;
            }
          }

          .rating {
            // 評分
            font-size: 0;
            display: table;
          }

          .rating > label {
            color: #ddd;
            float: right;

            @media screen and (max-width: 768px) {
              color: rgb(170, 170, 170);
            }
          }

          .rating > label:before {
            padding: 0 5px;
            font-size: 30px;
            content: "★";
          }

          .rating > input:checked ~ label,
          .rating:not(:checked) > label:hover,
          .rating:not(:checked) > label:hover ~ label {
            color: #000000;
          }
        }

        .btnEnd {
          width: 5rem;
          margin-left: auto;
          display: block;

          @media screen and (max-width: 1023px) {
            display: none;
          }
        }

        .btn_group {
          display: none;

          @media screen and (max-width: 1023px) {
            display: flex;
            justify-content: flex-end;

            a {
              margin-left: 0.5rem;
            }
          }
        }
      }
    }
  }
}

.section2 {
  .container-fluid {
    width: 100%;
    height: auto;
    background-image: url(./img/紙質質感.jpg);
    background-size: cover;

    @media screen and (max-width: 1024px) {
      padding: 0px;
    }

    .textBox {
      transform: translate(0, -5%);
      z-index: 99;
      max-width: 60%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .textHidden{
        display: none;
      }

      @media screen and (max-width: 1300px) {
        min-width: 100%;
        transform: translate(0, 1%);
      }

      @media screen and (max-width: 768px){
        transform: translate(0);
        
        .textHidden{
          width: 100%;
          height: auto;
          display: block;
          
          .button{
            width: 100%;
            height: 40px;
            background-color: rgb(22, 39, 10);
            color: white;
            text-align: center;
            font-size: 2.5rem;
            cursor: pointer;
          }
          
          p{
            margin: 30px;
            text-align: justify;
          }
  
        }
      }

      .backImg {
        width: 30%;
        background-image: url(./img/台北市艋舺龍山寺.jpg);
        background-size: cover;
        background-position: center;
        margin-bottom: 1.5rem;
        cursor: pointer;
        position: relative;

        @media screen and (max-width: 768px) {
          width: 100%;
          margin-bottom: 0rem;

          // &::after{
          //   content: "";
          //   width: 100%;
          //   height: 40%;
          //   background-color: rgba(0, 0, 0, 0.822);
          //   position: absolute;
          //   bottom: 0%;
          //   z-index: 1;
          // }
        }

        .mask {
          background-color: rgba(14, 14, 14, 0);
          padding: 20px;
          transition: 1s;

          &:hover {
            background-color: rgba(14, 14, 14, 0.61);

            // @media screen and (max-width: 768px) {
            //   background-color: rgba(14, 14, 14, 0);
            //   transition: none;
            // }
          }

          @media screen and (max-width: 768px){
            padding: 0;
          }

          .text {
            color: white;
            opacity: 0;
            padding: 20px;
            border: rgb(253, 253, 253) solid 1px;
            transition: 1s;

            @media screen and (max-width: 768px) {
              border: rgba(253, 253, 253, 0) solid 1px;
              color: rgba(255, 255, 255, 0);
            }

            hr {
              background-color: white;
              width: 30%;
              height: 2px;

              @media screen and (max-width: 768px) {
                background-color: rgba(255, 255, 255, 0);
              }
            }

            .ellipsis {
              text-align: justify;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 3; //行數
              -webkit-box-orient: vertical;
              white-space: normal;
            }

            &:hover {
              opacity: 1;
            }
          }
        }

        // .titleBox{
        //   color: rgb(255, 255, 255);
        //   display: none;
        //   margin-left: 4rem;
        //   margin-bottom: 4rem;
        //   // z-index: 2000;
          
        //   h4{
        //     font-family: "Noto Serif TC", serif;
        //     font-size: 2rem;
        //     z-index: 2000;
        //   }
        //   p{
        //     font-size: 1.5rem;
        //     letter-spacing: 5px;
        //   }

        //   @media screen and (max-width: 768px){
        //     display: block;
        //   }
        // }

        @media screen and (max-width: 768px) {
          &::before {
            content: "萬 華 艋 舺 龍 山 寺";
            width: 100%;
            height: 45%;
            background-color: rgba(0, 0, 0, 0.74);
            position: absolute;
            bottom: 0;
            color: white;
            padding: 2rem;
            font-size: 2rem;
            font-family: "Noto Serif TC", serif;
          }

          &::after {
            content: "求 姻 緣 ★ ★ ★ ☆ ☆";
            width: 100%;
            height: 45%;
            position: absolute;
            bottom: 0%;
            color: white;
            padding-top: 5rem;
            padding-left: 2rem;
            font-size: 1.5rem;        
          }
        }

        @media screen and (max-width: 420px){
          &::before{
            font-size: 1.2rem;
          }

          &::after{
            font-size: 1rem;
          }
        }
      }
    }

    .pagination {
      // 分頁按鈕
      position: relative;
      padding-bottom: 5rem;
      margin: auto;
      width: fit-content;

      a {
        position: relative;
        display: inline-block;
        color: black;
        text-decoration: none;
        font-size: 1.2rem;
        padding: 8px 16px 10px;
        text-decoration: none;

        &::before {
          z-index: -1;
          position: absolute;
          height: 100%;
          width: 100%;
          content: "";
          top: 0;
          left: 0;
          background-color: black;
          border-radius: 24px;
          -webkit-transform: scale(0);
          transform: scale(0);
          transition: all 0.2s;
        }

        &:hover,
        .pagination-active {
          color: #fff;
          z-index: 9;
        }

        &:hover::before,
        .pagination-active::before {
          -webkit-transform: scale(1);
          transform: scale(1);
        }
      }

      .pagination-active {
        color: #fff;
        z-index: 9;

        &:before {
          -webkit-transform: scale(1);
          transform: scale(1);
        }
      }
    }
  }

  #modal_experience {
    // 訪客留言呈現

        /* Hide a modal below a specific width */
        @media (max-width: 768px) {
          .modal-backdrop { 
              display: none !important;
          }
          #myModalDiv {
              display: none !important;
          }
          .modal-dialog {
              display: none !important;
          }
      }
    .formBox {
      z-index: 1300;
      background-color: white;
      width: 100%;
      border-radius: 2px;
      box-shadow: 0 0 1em rgb(54, 54, 54);

      .form {
        width: 100%;
        padding: 3rem;

        .title {
          font-size: 1.5rem;
          letter-spacing: 10px;
        }

        hr {
          background-color: black;
        }

        img {
          width: inherit;
          padding-bottom: 1rem;
        }

        p {
          text-align: center;
        }

        // 評分呈現
        .star-rating {
          unicode-bidi: bidi-override;
          color: #ddd;
          font-size: 0;
          margin: 0 auto;
          position: relative;
          display: table;
          padding-bottom: 1rem;
          text-shadow: 0px 1px 0 #a2a2a2;

          span {
            padding: 5px;
            font-size: 20px;
          }
        }

        .star-rating-top {
          color: rgb(0, 0, 50);
          padding: 0;
          position: absolute;
          z-index: 1;
          display: block;
          top: 0;
          left: 0;
          overflow: hidden;
          white-space: nowrap;
        }

        .star-rating-bottom {
          padding: 0;
          display: block;
          z-index: 0;
        }
      }
    }
  }
}

.section3 {
  background-color: rgb(36, 36, 36);
}


@media screen and (max-width: 1000px) {

  .bannerContainer {

    .banner {
      position: relative;

      .textLeft {
        display: none;
      }

      .top {
        width: 70%;
        display: flex;
        flex-flow: row-reverse;
        position: absolute;
        left: 12%;
        top: 30%;

        .textRightTop {
          display: block;
          // margin-right: 14rem;
          text-align: center;
          letter-spacing: 10px;
          line-height: 5rem;
          font-size: 1.5rem;
        }
      }

      .textBox {
        .textRight {
          letter-spacing: 5px;
          width: 80%;
          line-height: 2rem;

          &::before {
            content: "";
            width: 100%;
            height: 1px;
            background-color: white;
            position: absolute;
            top: -100%;
            left: 0%;
          }
        }

      }

    }

  }
}


@media screen and (max-width: 745px) {

  .bannerContainer {

    .banner {

      .top {
        width: 80%;
        left: 5%;
        top: 40%;

        .title{
          font-size: 2.5rem;
        }

        .textRightTop {
          line-height: 3rem;
          font-size: .5rem;
        }
      }

      .textBox {
        margin-top: 20px;

        .textRight {
          width: 100%;
          line-height: 1.2rem;
          font-size: .5rem;

          &::before {
            content: "";
            width: 100%;
            height: 1px;
            background-color: white;
            position: absolute;
            top: -40%;
          }
        }

      }

    }

  }
}


// @media screen and (max-width: 768px){
//   .section2{
//     .backImg{
//       .mask{
//         .titleBox{
//           color: rgb(255, 255, 255);
//           background-color: black;
//         }
//       }
//     }
//   }
// }