* {
  font-family: "微軟正黑體";
}

button {
  background-color: rgb(2, 27, 6);
  color: white;
}

p {
  font-size: 1em;
  line-height: 25px;
  font-weight: 500;
}

a {
  color: white;
  margin: 0;
}

// h5 {
//   font-size: 17px;
// }

a:hover {
  color: rgb(170, 76, 76);
}

body {
  margin: 0;
  background-image: url("./img/背景1.png");
  background-position: bottom;
  background-repeat: no-repeat;

  .container-fluid {
    width: 100%;
    padding: 0;
  
    nav {
      opacity: 0.8;
      background-color: rgb(2, 27, 6);
      widows: 100%;
  
      .navbar-brand {
        padding: 12px;
        margin-left: 3rem;
  
        @media screen and (max-width: 991px) {
          margin-left: 0px;
          padding: 0px;
        }
  
        @media screen and (max-width: 420px) {
          img {
            height: 45px;
          }
        }
  
        .logoText {
          margin: 10px;
  
          @media screen and (max-width: 420px) {
            img {
              height: 20px;
            }
          }
        }
      }
  
      .navList {
        .navbar-nav {
          width: 65%;
          display: flex;
          justify-content: space-around;
  
          @media screen and (max-width: 1300px) {
            max-width: 25rem;
          }
  
          .nav-item {
            font-size: 15px;
          }
  
          @media screen and (max-width: 991px) {
            height: 90vh;
            
            .nav-item {
              font-size: 22px;
            }
  
            .accordion {
              .plus {
                position: relative;
              }
  
              .plus:before {
                background: white;
                content: "";
                height: 2px;
                margin-right: 37px;
                position: absolute;
                right: 20%;
                top: 50%;
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                transform: rotate(90deg);
                -webkit-transition: all 0.2s ease-in-out;
                -moz-transition: all 0.2s ease-in-out;
                -ms-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
                width: 14px;
              }
  
              .plus:after {
                background: rgb(255, 254, 254);
                content: "";
                height: 2px;
                margin-right: 37px;
                position: absolute;
                right: 20%;
                top: 50%;
                width: 14px;
              }
  
              .plus.active:before {
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
              }
  
              .collapseNav {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }

  .container {
    width: 100%;
    height: 100vh;
    background-image: url("./img/分頁背景.png");
    @media screen and (max-width: 768px) {
      height: unset;
    }

    .top_img {
      margin: 2% 0 0 0;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .content #content_0 {
      width: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      position: relative;
      // display: none;
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="", sizingMethod='scale');
      @media screen and (max-width: 768px) {
        position: unset;
        display: flex;
        flex-direction: column-reverse;
      }

      .content-textB2 {
        width: 100%;
        // height: 50%;
        // margin-left: 70px;
        // text-align: justify;
        padding: 3% 2%;
        // font-family: "微軟正黑體";
      }
      .first_step {
        width: 100%;
        height: 50%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        .img_content {
          margin-bottom: 20px;
          @media screen and (max-width: 768px) {
            // display: none;
          }
        }
        .btn_class {
          margin: 0 auto;
          width: 100px;
          cursor: pointer;
        }
      }
      .title {
        display: none;
        @media screen and (max-width: 768px) {
          display: block;
          text-align: center;
          font-weight: bold;
        }
      }
    }
    #sharkit {
      width: 100%;
      height: 50%;
      background-size: contain;
      background-repeat: no-repeat;
      margin-left: auto;
      margin-right: auto;
      display: none;
      // position: relative;
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="", sizingMethod='scale');
      .second_step {
        position: absolute;
        top: 65%;
        left: calc(50% - 100px);
        @media screen and (max-width: 768px) {
          transform: translateY(90%);
        }
      }
    }
    #content_1 {
      width: 100%;
      height: 100hv;
      background-size: contain;
      background-repeat: no-repeat;
      margin: 0;
      display: none;
      position: relative;
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="", sizingMethod='scale');
      .title {
        display: none;
        @media screen and (max-width: 768px) {
          display: block;
          text-align: center;
          font-weight: bold;
        }
      }
      .content-textB1 {
        width: 100%;
        padding: 3% 2%;
        // height: 200px;
        // margin-left: 70px;
        // padding-top: 20px;
        // text-align: justify;
        // font-family: "微軟正黑體";
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
      .draw {
        position: absolute;
        right: 20%;
        top: 40%;

        @media screen and (max-width: 1200px) {
          display: none;
        }
        @media screen and (max-width: 768px) {
          display: block;
          position: unset;
          text-align: center;
          margin: 20px 0;
        }
      }
      .third_step {
        height: 20px;
        position: absolute;
        top: 40px;
        left: 82px;
        @media screen and (max-width: 768px){
          top: 14%;
          left: 46.1%;
        }
        #luckyid_1 {
          font-family: "微軟正黑體";
          font-weight: bold;
          color: white;
        }
      }

      .content-textB3 {
        width: 300px;
        display: flex;
        flex-wrap: wrap;
        // background-color: bisque;
        position: absolute;
        top: 300px;
        right: calc(50% - 220px);
        @media screen and (max-width: 768px) {
          width: unset;
          position: unset;
          flex-direction: column;
        }
        .content_text{
          display: flex;
          flex-direction: row;
          justify-content: center;
        }

        #luckyid {
          margin: 0 20px;
          line-height: 20px;
        }
      }

      .content-textB2 {
        margin-left: 0;
        @media screen and (max-width: 768px){
          margin: 0 auto;
          transform: translateY(-100%);
        }
      }
      #cyc_draw1{
        display: none;
        @media screen and (max-width: 768px){
          display: block;
          margin: 0 auto;
        }
      }

      .btn_class {
        cursor: pointer;
        position: absolute;
        bottom: -60%;
        left: calc(70% - 150px);
        @media screen and (max-width: 768px) {
          position: unset;
          width: 100px;
          margin: 0 auto;
          transform: translateY(-50%);
        }
      }
    }
    #content_2 {
      width: 100%;
      height: 325px;
      background-size: contain;
      background-repeat: no-repeat;
      margin-left: auto;
      margin-right: auto;
      display: none;
      position: relative;
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="", sizingMethod='scale');
      #slotresult {
        position: absolute;
        top: 4%;
        left: 25%;

        @media screen and (max-width: 1200px) {
          display: none;
        }
        @media screen and (max-width: 768px){
          display: block;
          position: unset;
          text-align: center;
        }
      }
      .text-body {
        display: flex;
        position: absolute;
        top: 50%;
        right: calc(50% - 140px);
        @media screen and (max-width: 768px){
          position: unset;
          justify-content: center;
          transform: translateY(70%);
        }

        .content-B2 {
          width: 450px;
          height: 200px;
        }
        #draw_again {
          cursor: pointer;
          border: none;
          background-color: unset;
          position: absolute;
          top: 95%;
          left: 28.5%;
          color: blue;
          @media screen and (max-width: 768px){
            left: 38%;
          }
        }
        #gogetit {
          cursor: pointer;
          border: none;
          background-color: unset;
          padding-top: 10px;
          color: rgb(255, 0, 0);
        }
      }
    }
   .confirm{
     transform: translateY(-30%);
     @media screen and (max-width: 768px){
       transform: translateY(-20%);
     }
    #content_3{
      width: 100%;
      display: none;
      text-align: center;
      h2{
        margin-top: 25px;
        @media screen and (max-width: 768px){
          font-size: 1.5rem;
        }        
      }
      h4{
        margin-top: 20px;
        @media screen and (max-width: 768px){
          font-size: 1.2rem;
        }
      }
      .btn_box{
        margin: 0 auto;
        letter-spacing: 70px;
        .btn_class{
          width: 100px;
          height: 30px;
        }
      }
    }
    #content_4{
      display: none;
      text-align: center;
      color: red;
      h1{
        margin-top: 25px;
        line-height: 50px;
        @media screen and (max-width: 768px){
          font-size: 2rem;
        }
      }
    }
   }
  }
}

.footer {
  background-color: rgb(36, 36, 36);
  padding: 24px;
  margin: 15% 0 0 0;
  z-index: 999;
  @media screen and (max-width: 768px) {
    margin: 0;
  }
}
